<paper-material elevation='1'>
  <h1>Skills Development</h1>

	<h3 class='skills-title'>HTML5</h3>
	<div class='skills-box'>
		<div class='skills-item'><a href="#/html5/apprentice">Apprentice</a></div class='skills-item'>
		<div class='skills-item'><a href="">Journeyman</a></div class='skills-item'>
		<div class='skills-item'><a href="">Master</a></div class='skills-item'>
	</div>

	<h3 class='skills-title'>JavaScript</h3>
	<div class='skills-box'>
		<div class='skills-item'><a href="">Apprentice</a></div class='skills-item'>
		<div class='skills-item'><a href="">Journeyman</a></div class='skills-item'>
		<div class='skills-item'><a href="">Master</a></div class='skills-item'>
	</div>

	<h3 class='skills-title'>Performance</h3>
	<div class='skills-box'>
		<div class='skills-item'><a href="">Apprentice</a></div class='skills-item'>
		<div class='skills-item'><a href="">Journeyman</a></div class='skills-item'>
		<div class='skills-item'><a href="">Master</a></div class='skills-item'>
	</div>

</paper-material>


