<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Skills Development</title>
</head>
<body>
  <div class="page-title page-skills">
    <h1>Skills Development</h1>
  </div>
  <div class="page-content">
    <p>Taken from <a href="https://github.com/fs-webdev/skill-building-program">Family Search Skill Building Program</a></p>
  
    <h2 class='skills-title'>HTML5</h2>
    <div class='skills-box'>
      <div class='skills-item'><a href="html5/apprentice">Apprentice</a></div>
      <div class='skills-item'><a href="">Journeyman</a></div>
      <div class='skills-item'><a href="">Master</a></div>
    </div>
  
    <h2 class='skills-title'>JavaScript</h2>
    <div class='skills-box'>
      <div class='skills-item'><a href="javascript/apprentice">Apprentice</a></div>
      <div class='skills-item'><a href="">Journeyman</a></div>
      <div class='skills-item'><a href="">Master</a></div>
    </div>
  
    <h2 class='skills-title'>Performance</h2>
    <div class='skills-box'>
      <div class='skills-item'><a href="">Apprentice</a></div>
      <div class='skills-item'><a href="">Journeyman</a></div>
      <div class='skills-item'><a href="">Master</a></div>
    </div>
  
    <h2 class='skills-title'>Web Components</h2>
    <div class='skills-box'>
      <div class='skills-item'><a href="wc/apprentice">Apprentice</a></div>
      <div class='skills-item'><a href="">Journeyman</a></div>
      <div class='skills-item'><a href="">Master</a></div>
    </div>
  </div>
</body>
</html>