<div class="page-title">
	<h1>HTML Apprentice</h1>
</div>

<div class="page-content">
  <header>
  	<h3>Semantic HTML5 Elements</h3>
		<h5>This is the header</h5>
	</header>
	<section>
		<p>This is a section. <mark>This text is marked</mark></p>
	</section>

	<article>
		<h5>Audio</h5>
		<audio controls>
		  <!-- <source src=bieber.ogg type=audio/ogg> -->
		  <!-- <source src=bieber.mp3 type=audio/mp3> -->
		</audio>
	</article>

	<article>
		<h5>Video</h5>
		<video controls height="600">
		  <source src='../../assets/fireworks.mp4' type=video/mp4>
		</video>
	</article>
</paper-material>

<paper-material>
	<article>
		<h3>Forms</h3>
		<form>
			<label>Name:</label><input type="text" name="name"><br>
			<label>Email:</label><input type="email" name="email"><br>
			<label>Phone:</label><input type="phone" name="phone">
		</form>
	</article>
</div>