<div class="page-title page-skills">
  <h1>JavaScript Apprentice Badge</h1>
</div>

<div class="page-content">
  <h2>Micro Badges</h2>
  <div class='apprentice-list'>
    <ol>
      <li>
        <a href="languageBasics.html">JavaScript Language Basics</a>&nbsp;✔
      </li>
      <li>
        <a href="pitfalls.html">JavaScript Common Pitfalls</a>&nbsp;✔
      </li>
      <li>
        <a href="linting.html">Linting & JavaScript Style Guide</a>&nbsp;✔
      </li>
      <li>
        <a href="patterns.html">Essential JavaScript Patterns</a>&nbsp;✔
      </li>
      <li>
        <a href="modules.html">JavaScript Module Formats</a>&nbsp;✔
      </li>
      <li>
        <a href="debugging.html">JavaScript Debugging</a>&nbsp;✔
      </li>
    </ol>
  </div>
</div>
