<div class="page-title page-skills">
  <h1>JavaScript Debugging</h1>
</div>

<div class="page-content">
  <ul>
    <ul><input type="checkbox" style="width: 20px; height: 16px"/> Open debugger</ul>
    <ul><input type="checkbox" style="width: 20px; height: 16px"/> Set a breakpoint</ul>
    <ul><input type="checkbox" style="width: 20px; height: 16px"/> Disable breakpoints</ul>
    <ul><input type="checkbox" style="width: 20px; height: 16px"/> Examine, modify, and watch variables</ul>
    <ul><input type="checkbox" style="width: 20px; height: 16px"/> Step through code</ul>
    <ul><input type="checkbox" style="width: 20px; height: 16px"/> Break on a DOM event</ul>
    <ul><input type="checkbox" style="width: 20px; height: 16px"/> Demonstrate and discuss afterwards</ul>
  </ul>
  <button onClick="debugCode()" style="padding: 10px; font-size: 14px; margin: 20px; cursor: pointer;">Get Test Message</button>
  <div id="testMessage"></div>
</div>
