<paper-material elevation='1'>
  <h1>Web Components Apprentice Badge</h1>
  <div style='text-align: left'>
    <h3>Web Component Spec</h3>
    <ol>
      <li>Custom Elements</li>
      <li>HTML Imports</li>
      <li>Shadow DOM</li> 
      <li>Template Element</li>
    </ol>
    <h3>Web Component Events</h3>
    <ol>
      <li>Created Event</li>
      <li>Attached</li>
      <li>Removed</li>
      <li>Attribute Changed</li>
    </ol>
  </div> 
</paper-material>


<paper-material elevation="1">
  <h2>Native Web Component</h2>
  <github-native-wc username='jshcrowthe'></github-native-wc>
</paper-material>

<paper-material elevation="1">
  <h2>Polymer Web Component</h2>
  <github-polymer-wc username='chadeddington'></github-polymer-wc>
</paper-material>