<div class="container">
	<h2>Linked Lists in JavaScript</h2>
	<br>

	<p>
		First, we need to set up some objects that we will use.
		The first object is going to be our Node object. 
	</p>
</div>
<pre>
	<code>
// The Node object
function Node(data) {
  this.data = data;
  this.next = null;
}
	</code>
</pre>

<div class="container">
	<p>
		Next we will create our LinkedList object. This object will contain our Node objects. 
	</p>
</div>

<pre>
	<code>
// The LinkedList object
function LinkedList() {
  this.head = null;
  this.length = 0;
}
	</code>
</pre>

<div class="container">
	<p>
	  Now that we have our objects, let's modify the LinkedList object by giving it an add function. This function will take in a value and create a node that contains that value. This node will then be added to the end of the list.
	</p>
</div>

<pre>
	<code>
// Add the add function
LinkedList.prototype.add = function(value) {
  var node = new Node(value);
  var currentNode = this.head;

  // Empty use-case
  if (!currentNode) {
    this.head = node;
    this.length++;
    return node;
  }

  // Existing list use case
  while (currentNode.next) {
    currentNode = currentNode.next;
  }

  currentNode.next = node;
  this.length++;
  return node;
}
	</code>
</pre>

<div class="container">
	<p>
		Awesome, we can add nodes to our linked list! But wait, we want to be able to find a specific node and see its value. Here we will create a findNode funciton that will look for a node by it's position.
	</p>
</div>

<pre>
	<code>
LinkedList.prototype.findNode = function (position) {
  var currentNode = this.head,
  count = 1;

  while (count < position) {
    currentNode = currentNode.next;
    count++;
  }
  return currentNode;
}
	</code>
</pre>

<div class="container">
	<p>
		We did it! Now we can create a linked list and search for any node by its position in the list.
	</p>
</div>

<pre>
	<code>
var list = new LinkedList();

list.add('Hello');
list.add('World!');
list.add('JavaScript');
list.add('Rocks!');

console.log(list.findNode(3));
	</code>
</pre>

<div class="container">
This will print:
<pre>
 <code class="javascript"> 
Node {
  data: 'JavaScript',
  next: Node { data: 'Rocks!', next: null } }
 </code>
</pre>
</div>